<!-- LOGO & NAVIGATION -->
<div class="container">
    <div class="row-fluid">
        <div class="span4">
            <a class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-align-justify"></i>
            </a>
            <a href="{{ path('homepage') }}"><img src="/img/logo1.png" class="logo" alt="logo" style="height: 55px"></a>
        </div>
        <div class="span4">
            <img src="/img/hey.png"/>
        </div>
        <div class="span4">
            <div class="rightinfo text-right">
                <i class="icon-phone"></i>&nbsp; Tél: +33 3 20 74 84 26<br>
                <i class="icon-envelope"></i>&nbsp;  info@p2arecruitment.com
            </div>
        </div>
    </div>
    <div class="row-nav navbar">
        <div class="nav-collapse collapse">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active selected"><a href="{{ path('homepage') }}">{% trans %}Accueil{% endtrans %}</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path('view_page', {'block': 'clients'}) }}">{% trans %}Clients{% endtrans %}</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path('view_page', {'block': 'candidats'}) }}">{% trans %}Candidats{% endtrans %}</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path('view_page', {'block': 'p2a'}) }}">{% trans %}P2A Recruitment{% endtrans %}</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path('view_page', {'block': 'contact'}) }}">{% trans %}Contact{% endtrans %}</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path('view_page', {'block': 'evolve'}) }}">{% trans %}Evoluer au Luxembourg{% endtrans %}</a></li>
                    <li class="divider-vertical"></li>
                    <li style="float: right;margin-left: 130px">
                        {% set fr = 'http://' ~ app.request.host ~ '/fr'%}
                        {% set en = 'http://' ~ app.request.host ~ '/en'%}
                        <a style="float: right;padding-left: 2px" href="{{ fr }}"><img src="/img/fr.png"/></a>&nbsp;&nbsp;
                        <a style="float: right" href="{{ en }}"><img src="/img/us.png"/></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>