Bonjour,
<br/><br/>
Une nouvelle candidature a été posté depuis le site p2arecruitment.
<br/>
<br/>
Nom:{{ name }}<br/>
Prenom: {{ firstname }}<br/>
Email: {{ email }} <br/>
Tel: {{ tel }} <br/>
commentaire:<br/>
{{ commentaire|nl2br|raw }}
<br/>
<br/>

Télécharger le cv en cliquant <a href="http://91.121.83.177/uploads/{{ name1 }}">ici</a><br/>
Télécharger la lettre de motivation en cliquant <a href="http://91.121.83.177/uploads/{{ name2 }}">ici</a>

<br/>
<br/>
Merci