{% extends "::base.html.twig" %}

{% block body %}
    <div class="linebordertop"></div>
    <div class="topheader"></div>
    <div class="lineborderbottom"></div>

    {% include "P2AMainBundle:Common:header.html.twig" %}
    <div class="body">
    <div class="container">
    <!-- SLIDER -->
    <div class="row-fluid">

        <div class="text-center">
            <img src="/img/sha.png" class="slidershadowcam" alt="">
        </div>
    </div>
    <!-- INTRO  -->
    <div class="row-fluid text-center intro">
        <div class="span12" style="text-align: left">
            <h1>{{ article.getTitleLang(app.request.get('_locale')) }}</h1>
            <p class="featured lead bottom10">
                {{ article.getDescriptionLang(app.request.get('_locale'))|raw }}
            </p>

           {% if (article.blockName == 'candidats') %}
               <form class="form-inline">
                   <input type="text" class="input" placeholder="{% trans %}Mots clés{% endtrans %}" name="search">
                   <select name="category">
                       <option value="">{% trans %}Toutes les catégories{% endtrans %}</option>
                       {% for category in categories %}
                           <option value="{{ category.id }}">{{ category.getTitleLang(app.request.get('_locale')) }}</option>
                       {% endfor %}
                   </select>
                   <select name="location">
                       <option value="">{% trans %}N'importe ou{% endtrans %}</option>
                       {% for location in locations %}
                           <option value="{{ location.id }}">{{ location }}</option>
                       {% endfor %}
                   </select>
                   <br/><br/>
                   <input type="checkbox" value="CDI" name="type" /> {% trans %}CDI{% endtrans %} &nbsp;&nbsp;
                   <input type="checkbox" value="CDD" name="type" /> {% trans %}CDD{% endtrans %} &nbsp;&nbsp;
                   <input type="checkbox" value="Intérim" name="type" /> {% trans %}Itérim{% endtrans %} &nbsp;&nbsp;
                   <input type="checkbox" value="Emploi formation" name="type" /> {% trans %}Emploi formation{% endtrans %} &nbsp;&nbsp;
                   <input type="checkbox" value="Stage" name="type" /> {% trans %}Stage{% endtrans %} &nbsp;&nbsp;
                   <input id="search1" type="submit" class="btn btn-info" value="{% trans %}Rechercher un poste{% endtrans %}"/>
               </form>
           {% endif %}

            <div class="result">

            </div>

        </div>
    </div>

    <div class="clearfix">
    </div>
    <br/>

    <div class="clearfix">
    </div>


    </div><!-- /.container -->
    </div><!-- /.body -->
    {% include "P2AMainBundle:Common:footer.html.twig" %}

    <script type="text/javascript">
        $(document).ready(function(){

            $('#search1').click(function(){

                $.ajax({
                   url: "{{ path('search') }}",
                   data: $('form').serialize(),
                   type: 'POST',
                   success: function(data){

                        $('.result').html(data);

                   }
                });

                return false;


            });

        });
    </script>
{% endblock %}
